<a
  class="text-blueGray-500 block"
  href="javascript:void(0)"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <div class="items-center flex">
    <span
      class="w-10 h-10 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"
    >
      <svg class="w-6 h-6 text-blueGray-600 fill-current" viewBox="0 0 24 24">
        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
      </svg>
    </span>
  </div>
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div
    class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  >
    <span
      *ngIf="username"
      class="text-xs py-2 px-4 font-bold block w-full whitespace-nowrap text-blueGray-400 uppercase"
    >
      {{ username }}
    </span>
    <a
      [routerLink]="['/admin/account']"
      (click)="dropdownPopoverShow = false"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700 hover:bg-blueGray-100"
    >
      <i class="fas fa-user-cog mr-2 text-blueGray-400"></i> My Account
    </a>
    <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
    <a
      href="javascript:void(0)"
      (click)="logout($event)"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700 hover:bg-blueGray-100"
    >
      <i class="fas fa-sign-out-alt mr-2 text-blueGray-400"></i> Logout
    </a>
  </div>
</div>
