<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <a
      [routerLink]="['/']"
      class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-flex items-center gap-2 whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
    >
      <img src="assets/img/app_icon.png" alt="Hotel POS Logo" class="w-8 h-8 inline-block object-contain" />
      <span class="block sm:hidden"> Hotel POS </span>
      <span class="hidden sm:block"> Hotel POS </span>
    </a>
    <!-- User -->
    <ul class="md:hidden items-center flex flex-wrap list-none">
      <li class="inline-block relative">
        <app-notification-dropdown class="block"></app-notification-dropdown>
      </li>
      <li class="inline-block relative">
        <app-user-dropdown class="block"></app-user-dropdown>
      </li>
    </ul>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/']"
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-flex items-center gap-2 whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            >
              <img src="assets/img/app_icon.png" alt="Hotel POS Logo" class="w-8 h-8 inline-block object-contain" />
              Hotel POS
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>


      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Operations
      </h6>
      <!-- Navigation -->
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a
            [routerLink]="['/admin/billing']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminBilling="routerLinkActive"
            [ngClass]="
              adminBilling.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminBilling.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M21,16V4c0-1.1-.9-2-2-2H5C3.9,2,3,2.9,3,4v12c0,1.1.9,2,2,2h5l-2,3v1H16v-1l-2-3h5C20.1,18,21,17.1,21,16z M5,4h14v10H5V4z"/>
            </svg>
            Billing POS
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/session']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminSession="routerLinkActive"
            [ngClass]="
              adminSession.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminSession.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1.41 12.13c-1.42-.48-1.92-.89-1.92-1.47 0-.64.67-1.07 1.77-1.07 1.13 0 1.57.51 1.62 1.18h1.61c-.05-1.14-.85-2.02-2.1-2.3v-1.72h-2.2v1.71c-1.39.29-2.5 1.17-2.5 2.59 0 1.72 1.42 2.58 3.5 3.28 1.56.53 1.96 1.04 1.96 1.69 0 .54-.42 1.11-1.83 1.11-1.32 0-1.87-.58-1.94-1.37h-1.63c.08 1.34 1.03 2.18 2.28 2.45v1.73h2.2v-1.73c1.43-.27 2.57-1.11 2.57-2.61 0-1.88-1.43-2.69-3.55-3.4z"/>
            </svg>
            Shift Session
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Inventory
      </h6>
      <!-- Navigation -->
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a
            [routerLink]="['/admin/items']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminItems="routerLinkActive"
            [ngClass]="
              adminItems.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminItems.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M12 2a1.5 1.5 0 0 1 1.5 1.5c0 .35-.12.67-.32.93A10.003 10.003 0 0 1 22 14v1H2v-1A10.003 10.003 0 0 1 10.82 4.43c-.2-.26-.32-.58-.32-.93A1.5 1.5 0 0 1 12 2zm10 15v2H2v-2h20z"/>
            </svg>
            Items Catalog
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/categories']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminCategories="routerLinkActive"
            [ngClass]="
              adminCategories.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminCategories.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z"/>
            </svg>
            Categories
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/units']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminUnits="routerLinkActive"
            [ngClass]="
              adminUnits.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminUnits.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M20 2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM8 20H4V4h4v16zm6 0h-4V4h4v16zm6 0h-4V4h4v16z"/>
            </svg>
            Units
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/tables']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminTables="routerLinkActive"
            [ngClass]="
              adminTables.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminTables.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M4 18v3h3v-3h10v3h3v-3c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2zM4 8h16v4H4V8z"/>
            </svg>
            Dining Tables
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/purchases']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminPurchases="routerLinkActive"
            [ngClass]="
              adminPurchases.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminPurchases.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
            </svg>
            Purchase Entry
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/customers']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminCustomers="routerLinkActive"
            [ngClass]="
              adminCustomers.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminCustomers.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
            </svg>
            Customers
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/suppliers']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminSuppliers="routerLinkActive"
            [ngClass]="
              adminSuppliers.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminSuppliers.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5s-3 1.34-3 3 1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
            </svg>
            Suppliers
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/expenses']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminExpenses="routerLinkActive"
            [ngClass]="
              adminExpenses.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminExpenses.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-2h2v2zm0-4H7v-2h2v2zm0-4H7V7h2v2zm8 8h-6v-2h6v2zm0-4h-6v-2h6v2zm0-4h-6V7h6v2z"/>
            </svg>
            Expenses
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/raw-materials']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminRawMaterials="routerLinkActive"
            [ngClass]="
              adminRawMaterials.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminRawMaterials.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M20 3H4v10c0 2.21 1.79 4 4 4h6c2.21 0 4-1.79 4-4v-3h2c1.11 0 2-.89 2-2V5c0-1.11-.89-2-2-2zm0 5h-2V5h2v3zM4 19h16v2H4v-2z"/>
            </svg>
            Raw Materials
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/bom']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminBom="routerLinkActive"
            [ngClass]="
              adminBom.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminBom.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"/>
            </svg>
            Bill of Materials
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Analytics
      </h6>
      <!-- Navigation -->
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a
            [routerLink]="['/admin/dashboard']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminDashboard="routerLinkActive"
            [ngClass]="
              adminDashboard.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M9 3H4a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm0 10H4a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1zm10-10h-5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm0 10h-5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1z"/>
            </svg>
            Dashboard
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/bi-analytics']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminBiAnalytics="routerLinkActive"
            [ngClass]="
              adminBiAnalytics.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminBiAnalytics.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z"/>
            </svg>
            BI Analytics
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/sales-report']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminSalesReport="routerLinkActive"
            [ngClass]="
              adminSalesReport.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminSalesReport.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"/>
            </svg>
            Sales Report
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/item-report']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminItemReport="routerLinkActive"
            [ngClass]="
              adminItemReport.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminItemReport.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M11 2v9H2c0-5.07 4.09-9.21 9-9.7zm2 0c4.91.49 9 4.63 9 9.7h-9V2zm-11 11h9v9c-4.91-.49-9-4.63-9-9.7zm11 9v-9h9c0 5.07-4.09 9.21-9 9.7z"/>
            </svg>
            Item Report
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/purchase-report']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminPurchaseReport="routerLinkActive"
            [ngClass]="
              adminPurchaseReport.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminPurchaseReport.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z"/>
            </svg>
            Purchase Report
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/ledger']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminLedger="routerLinkActive"
            [ngClass]="
              adminLedger.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminLedger.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1zm-4-4H7v-2h7v2zm3-4H7V9h10v2z"/>
            </svg>
            Ledger
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/journal']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminJournal="routerLinkActive"
            [ngClass]="
              adminJournal.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminJournal.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            </svg>
            Journal
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Administration
      </h6>
      <!-- Navigation -->
      <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">
        <li class="items-center">
          <a
            [routerLink]="['/admin/settings']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminSettings="routerLinkActive"
            [ngClass]="
              adminSettings.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminSettings.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3-1.57-3-3s1.07-3 3-3 3 1.57 3 3-1.07 3-3 3z"/>
            </svg>
            Settings
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/roles']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminRoles="routerLinkActive"
            [ngClass]="
              adminRoles.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminRoles.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
            </svg>
            Roles &amp; Access
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/users']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminUsers="routerLinkActive"
            [ngClass]="
              adminUsers.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminUsers.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
            </svg>
            Users
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/audit']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminAudit="routerLinkActive"
            [ngClass]="
              adminAudit.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminAudit.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm-2 15l-4-4 1.41-1.41L10 13.17l7.59-7.59L19 7l-9 9z"/>
            </svg>
            Security Audit
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Human Resources
      </h6>
      <!-- Navigation -->
      <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">
        <li class="items-center">
          <a
            [routerLink]="['/admin/employees']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminEmployees="routerLinkActive"
            [ngClass]="
              adminEmployees.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminEmployees.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
            </svg>
            Employees
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/attendance']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminAttendance="routerLinkActive"
            [ngClass]="
              adminAttendance.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminAttendance.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/>
            </svg>
            Attendance
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/leave']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminLeave="routerLinkActive"
            [ngClass]="
              adminLeave.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminLeave.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M17 3H7c-1.1 0-2 .9-2 2v16l7-3 7 3V5c0-1.1-.9-2-2-2z"/>
            </svg>
            Leave
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/payroll']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminPayroll="routerLinkActive"
            [ngClass]="
              adminPayroll.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <svg
              class="w-4 h-4 mr-2 inline-block fill-current align-middle"
              [ngClass]="
                adminPayroll.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
              viewBox="0 0 24 24"
            >
              <path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"/>
            </svg>
            Payroll
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
